body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #1F6A73;
    color: #ffffff; 
    font-family: Arial, sans-serif; 
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.personagem {
    background-color: #1a1a1a; 
    border: 4px solid #8C3B59; 
    border-radius: 20px;
    margin-bottom: 2px;
    padding: 10px;
    width: 180px;
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #2EA690; 
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.2s;
}

button:hover {
    background-color: #035861;
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0px);
}

.barra-vida {
    height: 32px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
}

.baixa-vida {
    background-color: red;
}

.media-vida {
    background-color: yellow; 
    color: #424040;
}

.alta-vida {
    background-color: green; 
}

.sprite {
    height: 160px;
    background-color: #1a1a1a; 
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    justify-content: center; 
}

.sprite_heroi img {
    width: 45%;
    height: auto;
}

.sprite_vilao img {
    width: 45%;
    height: auto;
}


.mensagem {
    background-color: #1a1a1a;
    color: #f8f8f8;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
}

.diarioBatalha{
    color:  #2EA690;
}



.critico_zerado{
    color: red;
}

.escudo_zerado{
    color: red;

}
.pocao{
    color: red;

}

.defesa_inativa{
    color: red;
}

.defesa_ativa{
    color: green
}

.botao_invisivel{
    padding: 20px;
    font-size: 20px;
}

.botao_visivel {
   
    display: none;
}


